.display-register {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
    width: 80%;
    margin: 150px auto;
}

.display-register h2,
h4 {
    color: rgb(82, 177, 234);
}

.register-form {
    display: flex;
    flex-direction: column;
}

.form-Input {
    display: grid;
    gap: 10px;
    margin: 0px 5px;
}

.form-Input input,
textarea {
    height: 50px;
    border-width: 2px;
    border-radius: 8px;
    /* text-align: center; */
    padding-left: 10px;
    width: 60%;
    margin: auto;
    border: none;
    background-color: rgb(222, 219, 219);
}

.form-Input input:focus {
    outline-color: rgb(82, 177, 234);
    shape-outside: cross-fade();
    border: none;
    background-color: white;
}

.register-form button {
    margin: 15px auto;
    border: none;
    border-radius: 8px;
    padding: 5px;
    font-size: 18px;
    background-color: rgb(82, 177, 234);
    color: white;
}

.register-form button :disabled,
button[disabled] {
    opacity: 0.5;
}

p span {
    border-bottom: 2px solid orange;
    cursor: pointer;
}

label {
    width: 60%;
    margin: auto;
    text-align: left;
    border-radius: 5px;
    background-color: rgb(82, 177, 234);
    color: white;
    padding: 2px 10px;
}

@media only screen and (max-width:576px) {
    .display-register {
        margin: 100px auto;
    }

    .form-Input input,
    textarea,
    label {
        width: 100%;
    }
}