.display-addedFood {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    background-color: #5e5a74;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px 0px;
    box-shadow: darkgray 2px 2px, darkgray -2px -2px;
}

.display-addedFood img {
    width: 50px;
}

.display-addedFood h6 {
    margin: 0px auto;
    color: white;
    padding: 0px 3px;
    border-radius: 5px;
}

.display-addedFood p {
    margin: 0px auto;
    background-color: #c8cbd0;
    ;
    padding: 0px 3px;
    border-radius: 5px;
    font-weight: bold;
    width: 60%;
    text-align: center;
}

.display-quantity p {
    width: 60%;
    text-align: center;
    margin: auto 0px;
    background-color: white;
    color: black;
    font-weight: bolder;
    font-size: larger;
    padding: 0px 3px;
}

.display-quantity button {
    margin: auto 2px;
    border: none;
    background-color: white;
    font-weight: bold;
    font-size: larger;
}